{% extends 'shared/basepage.html.twig' %}

{% block content %}

<form action="/admin/game-form" method="post">
<fieldset>
    <legend>Game Form</legend>
    <input type="hidden" name="id" value="{{game ? game.id : ''}}">
    <div class="input-row">
        <label for="title">Game title:</label>
        <input id="title" name="title" type="text"
            value="{{game ? game.title : ''}}">
    </div>
    <div class="input-row">
        <label for="year">Release year:</label>
        <input id="year" name="year" type="text"
            value="{{game ? game.year : ''}}">
    </div>
    <div class="input-row">
        <label for="system">System:</labeL>
        <select id="system" name="system">
            <option></option>

            {% for system in systems %}
            {% set selected = game and game.system.id is same as(system.id)
                ? 'selected' : '' %}
            <option value="{{system.id}}" {{selected}}>{{system.title}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="input-row">
        <label for="completed">Completed:</label>
        <input id="completed" type="checkbox" name="completed"
            {{game and game.completed ? 'checked' : ''}}>
    </div>
    <div class="input-row">
        <button type="reset" onclick="location.href='/admin/games'">Cancel</button>
        <button type="submit">Save</button>
    </div>
</fieldset>
</form>
{% endblock %}
