{% extends 'shared/basepage.html.twig' %}

{% block content %}
<ul>
    <li>Blogs | <a href="/admin/blogs">View</a> | <a href="/admin/blog-form">Create</a></li>
    <li>Games | <a href="/admin/games">View</a> | <a href="/admin/game-form">Create</a></li>
    <li>Systems | <a href="/admin/systems">View</a> | <a href="/admin/systems?create=1">Create</a></li>
</ul>
{% endblock %}
