<nav>
    <a href="/">Home</a>
    {% if user %}
        {% if user.isAdmin %}
            <a href="/admin">Admin</a>
        {% endif %}
        <a href="/logout">Log out</a>
    {% else %}
        <a href="/new-user">New User</a>
        <a href="/login">Log in</a>
    {% endif %}
</nav>
